* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.normal {
  width: 400px;
  padding: 50px;
  border-radius: 5px;
  background-color: aliceblue;
  margin: 0 50px;
}

.normal h3 {
  margin-bottom: 20px;
}

.normal p {
  font-weight: 300;
}
